scanpy
torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1
scikit-learn
scvi-tools
scvi-colab
scipy
episcanpy==0.3.2
seaborn
matplotlib
nbsphinx
sphinx_autodoc_typehints
leidenalg
pybedtools
adjusttext
jupyter
