scanpy
torch
torchvision
torchaudio
scikit-learn
scipy
episcanpy==0.3.2
seaborn
matplotlib
nbsphinx
sphinx_autodoc_typehints
sphinx_rtd_theme
nbsphinx
recommonmark
leidenalg
pybedtools
adjusttext
jupyter
